head
  title bleh
  link(href="styles/main.css" rel="stylesheet")

mixin people(alignment)
  ul.people(class = alignment)
    +person("img")
    +person("img2")
    +person("img3")

mixin person(img)
  li.person
    img(src="assets/"+img+".jpg" width= 100 height=100)

body
  .head-row
    +people("row")
  .head-col
    +people("col")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(type="text/javascript" src="scripts/index.js")

